@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#newGuestModal">
    Add New Guest
</button>

<table id="guestTable" class="table table-bordered">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
</table>

@* @section Scripts {
    <script>
        $(document).ready(function () {
            loadGuestTable();
        });
    </script>
} *@


